body {
    background-color: lightblue;
  }
  
h1 {
    color: navy;
    margin-left: 20px;
  }

footer{
      color: navy;
       border-style: dotted;
       padding-top: 25px;
       padding-bottom: 25px;
         }
img {
      float: left; 
              
          }
.box {
            margin-top: 60px; 
            margin-bottom: 62px; 
            padding: 10px 20px 15px; 
            color:black;
            background-color: rgb(183, 250, 183); 
          
          }
.padded{
  padding:5px;
  margin:5px;
}
.viz{
  float:center;
}

.clearfix {
  overflow: auto;
}